html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

html, body {
  font-family: 'Open Sans', sans-serif;
}
body {
  padding: 50px 0;
}
.wrapper {
  font-size: 14px;
}
nav {
  border-bottom: 1px solid black;
  background-color: tomato;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  line-height: 50px;
  padding: 0 20px;
  position: fixed;
  h1 {
    margin: 0;
  }
  .status {
    top: 0;
    right: 20px;
    position: absolute;
  }
}
#message-list {

}
#message-list .message {
  padding: 4px 0;
  display: flex;
}
#message-list .message .username,#message-list .message .content {
  display: inline-block;
  padding: 4px 0;
}
#message-list .message .username {
  flex: 15;
  margin-right: 16px;
  overflow: hidden;
  font-weight: 700;
}
#message-list .message .content {
  flex: 85;
}
#message-list .message.system {
  font-weight: 400;
  font-style: italic;
}
footer {
  height: 50px;
  border-top: 1px solid black;
  background-color: tomato;
  display: block;
  line-height: 50px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  font-size: 0;
  min-width: 400px;
  .userNameContainer {
    float: left;
    line-height: 50px;
    height: 50px;
    width: 20%;
    padding-top: 6px;
    padding-bottom: 18px;
    padding-left: 10px;

  }
  .messageContainer {
    float: right;
    line-height: 50px;
    height: 50px;
    width: 78%;
    padding-top: 6px;
    padding-bottom: 18px;
    padding-right: 10px;
  }
  input {
    border: none;
    margin: 0;
    padding: 0 10px;
    width: 100%;
    height: 100%;
  }
  // #username {
  // }
  // #new-message {
  // }
}